<div>
    <h5 class="focus-in-contract">All Our Products Are Handmade</h5>
    <h5 class="focus-in-contract">Please allow 2-4 weeks for production on all handmade items</h5>
    <h5 class="focus-in-contract">We thank you for supporting a small business and we hope you stay safe</h5>
</div>

<button><a id="home" href="/products">Home</a></button>