<div>
    <p>All Our Products Are Handmade</p>
    <p>Please allow 2 to 4 weeks for production on all handmade items</p>
    <p>We thank you for supporting a small business and we hope you stay safe</p>
</div>

<button><a id="home" href="/products">Home</a></button>