

<!-- Update nav partials -->
<nav class="nav-extended">
    <div class="nav-wrapper blue">
        <ul>
            <li><a href="/users/new" class="brand-logo center" class="logo">amazing</a></li>
        </ul>
        <div>
                <% if (currentUser) { %>
                    <ul class="left"><li><h5 class="welcome">Welcome <%= currentUser.username %></h5></li></ul>
            <ul class="right">       
                <li class="nav-item">
                    <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out" class="btn-small red" />
                    </form>
                </li>
            </ul>
            <ul class="right">
                <li class="nav-item right"><a href="/users/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart</a></li>
                <% } else { %>
                <li class="nav-item right"><a href="/users/new">Sign Up</a></li>
                <li class="nav-item right"><a href="/sessions/new">Log In</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
