<!-- Update nav partials -->
<!-- <a href="/fruits" class="brand-logo left">Fruits</a> -->
<ul class="left">
    <h4> amazing <i class="fab fa-amazon"></i></h4>
</ul>
<ul class="right">
    <li class="nav-item"><a href="/products/new">Create a new Product</a></li>
    <% if (currentUser) { %>
    <li>Welcome <%= currentUser.username %></li>
    <li>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="btn-small red" />
      </form>
    </li>
    <% } else { %>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/sessions/new">Log In</a></li>
    <% } %>
  </ul>
