<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div id="container">
        <h3><%= currentUser.username %> SHOPPING CART</h3>
        <br/>
        <% for(const item of products){ %>
            Name: <%= item.name %>
        <% } %>

        <br/>
        <button><a id="home" href="/products">Home</a></button>
    </div>
</body>

</html>