<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div id="container">
        <h2>USER SHOPPING CART</h2>
        
        
        <br />
        <button><a id="home" href="/products">Home</a></button>
    </div>
</body>

</html>