<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/head2.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div id="container">
        <h4><%= currentUser.username %>'s Shopping Cart</h4>
        <br/>
        <ul>
            <% for(const productId of currentUser.shoppingCart){ %>
                        <li>
                            <h5><%= productId %></h5>
                        </li>
            <% } %> 
        </ul>
        <br/>
        <button><a id="home" href="/products">Home</a></button>
    </div>
</body>

</html>