<!DOCTYPE html>
<html>
    <head>
      <%- include ('../partials/head.ejs') %>
    </head>
    <body>
      <nav>
        <%- include ('../partials/nav.ejs') %>
      </nav>
    <!-- <div id="container"> -->
      <h4>Edit Cart Product</h4>
      <form action="/products/<%= product.id %>?_method=PUT" method="POST">
        <label for="qty">Quantity</label>
        <input type="number" name="qty" id="qty" value="<%= product.qty %>"/>
        <br/>
        <input type="submit" value="Update Quantity">
      </form>
      <button><a id="home" href="/products">Home</a></button>
    <!-- </div> -->
    </body>
</html>