<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <!-- <div id="container"> -->
      <h3>Customize a New Tshirt</h3>
      <form action="/products", method="POST">
        Tell Us About This Order
        <input type="text" name="description" />
        <br/>
        Upload Your Own Tshirt design 
        <input type="text" name="img" />
        <br/>
        Give It A Name
        <input type="text" name="name" />
        <br/>
        How Many Tees Would You Like To Order? 
        <input type="number" name="qty" id="qty" />
        <br/>
        <input type="submit" value="Create Product" />
        <br/>
      </form>
      <br/>
    <!-- </div> -->
    <div>
      <%- include ('../partials/footer.ejs') %>
    </div>
  </body>
</html>
