<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <!-- <div id="container"> -->
      <h1>Create a New Product</h1>
      <form action="/products", method="POST">
        Name: 
        <input type="text" name="name" />
        <br/>
        Description: 
        <input type="text" name="description" />
        <br/>
        Image: 
        <input type="text" name="img" />
        <br/>
        Price: 
        <input type="number" name="price" id="price" />
        <br/>
        Quantity: 
        <input type="number" name="qty" id="qty" />
        <br/>
        Ready To Sell:
        <input type="checkbox" name="isReadyToSell" />
        <br/>
        <input type="submit" value="Create Product" />
        <br/>
      </form>
      <br/>
    <button><a id="home" href="/products">Home</a></button>
    <!-- </div> -->
  </body>
</html>
